<h2>Future plans</h2><br />
<li class="future_change strikethrough">Gamelists viewable to the public but editable only when logged in</li>
<li class="future_change strikethrough">Paginate search results list</li>
<li class="future_change strikethrough">Cut the search results on autocomplete to a low number </li>
<li class="future_change strikethrough">Email notifications for account creation or game addition</li>
<li class="future_change strikethrough">When changing attributes on your list, make that textbox autofocus</li>
<li class=future_change>Implement a mod system whereby I can accept/reject create game requests (basic imp. done)</li>
<li class=future_change>Develop a better more informational profile page</li>
<li class=future_change>Make individual game information pages</li>
<li class=future_change>Potentially private game lists</li>
<li class=future_change>Allow gamercards to be used as forum signatures on other websites and similar</li>
<li class=future_change>Activity tracker on front page for this guy added a game, or this guy completed this game</li>
<li class=future_change>Some sort of friends system</li>
<li class=future_change>Friends recent updates on your home page</li>
<li class=future_change>open a modal window for the 'edit' button where you can add extra information about your game</li>
<li class=future_change>Allow lists to have customizable CSS styling</li>
<li class=future_change>Enter button should start search when picking auto-complete results</li>
<li class=future_change>Add a link next to searching for skipping to a new game request form</li>
<li class=future_change>Remove leading and trailing whitespace from a search query</li>
<li class=future_change>Revise column names on list, "score" should definitely be included</li>
<li class=future_change>add Nintendo 64 platform for FIFA road to the world cup 98,</li>
<li class=future_change>add kengo for PS2</li>
<li class=future_change>add DS games</li>
<li class=future_change>add 360 as a platform for Fifa soccer 10</li>
<li class=future_change>fix searching for "Super Smash Bros. Brawl [Nintendo Wii]" crashes javascript.</li>
<li class=future_change>list columns should be sortable</li>
<li class=future_change>Possibly make the search at the bottom of your gamelist AJAX, may be more convenient. </li>