<div class="right pad_up">        
  <h4>Latest changes</h4>
  <% latest_commits = recent_changes %>
  <% if !latest_commits.empty? %>
    <%(0..2).each do |commit_idx| %>
      <h3><%=latest_commits[commit_idx]["commit"]["author"]["date"] %></h3>
      <p><%=latest_commits[commit_idx]["commit"]["message"] %></p>
      <br />
    <% end %>  
  <% end %>
</div>