<h2>Future plans</h2><br />
<li class=future_change>Develop a better more informational profile page</li>
<li class=future_change>Make individual game information pages</li>
<li class=future_change>Gamelists viewable to the public but editable only when logged in</li>
<li class=future_change>Potentially private game lists</li>
<li class=future_change>Allow gamercards to be used as forum signatures on other websites and similar</li>
<li class=future_change>Implement a mod system whereby I can accept/reject create game requests</li>
<li class=future_change>Paginate search results list</li>
<li class=future_change>Cut the search results on autocomplete to a low number </li>

<br /><br />
<h2>Latest changes</h2><br /> 
For a complete list of changes and more info on the gamer-ryoudan project, checkout the github page: <a href=http://github.com/marseille/Gamer-Ryoudan>http://github.com/marseille/Gamer-Ryoudan</a>
<br /><br />

<% latest_commits = recent_changes %>
<% latest_commits.each do |commit| %>
  <h3><%=commit["committed_date"] %> </h3>
  <p class=commit_message><%=commit["message"] %></p>
<% end %>