<%= render :partial => "recent_changes/future_changes" %>
<br /><br />
<h2>Latest changes</h2><br /> 
For a complete list of changes and more info on the gamer-ryoudan project, checkout the github page: <a href=http://github.com/marseille/Gamer-Ryoudan>http://github.com/marseille/Gamer-Ryoudan</a>
<br /><br />

<% latest_commits = recent_changes %>
<% latest_commits.each do |commit_obj| %>
  <h3><%=commit_obj["commit"]["author"]["date"]%> </h3>
  <p class=commit_message><%=commit_obj["commit"]["message"] %></p>
<% end %>
