<%= javascript_include_tag "gamer_ryoudan.js" %>
<% @load_page = true %>
<h1>Search!</h1>
<%= render :partial => "shared/search" %>
<div class=search_page_spinner></div>
<br /><br />
<div class=clear></div>
  
  