<h1> Terms and Agreement </h1>
<p>
  The following are any and all rules that must be followed with usage
  of this site. Elements on this list will be freely added and removed at will
</p>
<li class=lioption>
  This site will not be used in any way,shape, or manner for monetary profit
</li>
<br />
<li class=lioption>
  There are to be no lewd or otherwise erotic images to be used for profile pictures,
  pornography of any sort will not be tolerated in the slightest.
</li>
<br />
<li class=lioption>
  Pornographic material of the game nature will not be tracked and/or maintained
  at all on this site. Don't request it, or add this garbage to the site.
</li>
