<div class=change_avatar>
  <h2> change your avatar </h2>  
  <%= render :partial => "users/current_avatar" %>
  <div class=avatar_form>
    <p class=instructions>
      Please limit your avatars to jpegs,pngs, and gifs. They will be resized automatically
    </p>
    <form action="/users/save_avatar" method="post" enctype="multipart/form-data">      
      <div id="browse_container">
        <input id="avatar_input" name="yourfilename" type="file" />            
      </div>
    </form>  
  </div>
</div>