    <div class="clear"></div>
    <br>
		<div id="footer">
			<div class="clear"></div>
        <h5>
          Any questions? Concerns? Is something breaking or do you have any suggestions for the site?
          Don't hesitate to contact me! email at: Muradin007@gmail.com 
        </h5>
		</div>
  </div>
</body>
</html>


