<div style="float:left">
<ul class="ul">
    <li class="green li">
        <p><a href="../home/" class="white_link">Home</a></p>
        well excuuuse me PRINCESS!
    </li>
    <li class="yellow li">
        <p><a href="../game_list/index" class="white_link">My List</a></p>
        A winner is you!
    </li>
    <li class="red li">
        <p><a href="#" class="white_link">About</a></p>
        The cake is a lie!
    </li>
    <li class="blue li">
        <p><a href="#" class="white_link">Contact</a></p>
        But our princess is in another castle!
    </li>
    <li class="purple li">
        <p><a href="#" class="white_link">Terms</a></p>
        All your base are belong to us!
    </li>
</ul>
</div>