<% form_tag(:controller => "games", :action => "find_game") do %>  
  <div class="push_down">
    <% label_tag(:search_tag, "Search for a game:") %>
    <%= text_field_tag(:search_tag) %>
    <%= submit_tag("Search!") %>
  </div>
<% end %>