<li class=lioption>
  <label class="option">
    <b><%= link_to "Spread the awesome word!", "http://www.google.com/search?as_q=awesome word spreading skills go!!!" %></b><br />
  </label>
</li>        