<div>      
  <br />
  Search by:<br /><br/>
  <label class="guidance">
    1. Typing the name or platform of a game
  </label><br />
  <label class="guidance">
    2. Selecting your game and add it for great justice!
  </label><br /><br />  
  <%= text_field_tag(:search_tag) %>      
  <input type="button" value="Search!" onclick="find_game('search_tag')">
  <input type="hidden" value="blarg" id="abc"></input>
</div>