<div class="widget">
  <%= image_tag "backgroundedit.png", :border => 0 %>
  <%= label_tag :bleh, "Marseille", :class => "acc_name" %>
  <%= image_tag "bulbasaur.PNG", :border => 0, :class => "avatar" %>
  <div class="more_acc_info">
    <li>Some Info about Marseille!</li>
    <li>More info!</li>
    <li>Extra info!</li>
    <li>last info!</li>
  </div>
</div>      