<%= javascript_include_tag "games.js" %>

<div class="clearLeft">
  <div id="games_list">
    <h4> View your games list: <h4>
    <%= link_to "muh list", :controller => "game_list", :action => "index" %>  
  <br><br><br>
  </div>

  <div class="left">
      Add a game to your list:<br><br>
      <%= text_field_tag(:search_tag) %>
      <input type="button" value="Search!" onclick="find_game()">
  </div>
</div>

<div id="search-results" class="leftBorder" >
</div>