<h4> Visit your list: <h4>
<%= link_to "my awesome", :controller => "game_list", :action => "index" %>
<br><br><br>
<h4> 
  More features to come soon! As soon as I get some development time we can hope to 
  see more than a static list of games you can add
</h4>