<% user = current_user %>
<% users_games = current_user.games if user %>
<% @game_results.each do |game| %>  
  <% @game = game %>
  <% added = false %>    
  <% added =  !([game] & users_games).empty? if user%>        
  <%= render :partial => "games/game", :locals => {:added => added}%>  
  <% @no_spaces = @game.name.gsub(/[^0-9A-Za-z]/, '_') + "_"+@game.platform.gsub(/[^0-9A-Za-z]/,'_') %>
  <% css_class = (@game["name"].length > 45) ? "long_name_game_partial" : "add_game_partial" %>  
  <div id=<%='"add_'+ERB::Util::h(@no_spaces)+'_div"'%> class=<%=css_class%>>      
    <%= render :partial => "shared/add_to_list", :locals => {:only_submit => true} %>    
  </div>  
  <br />
<% end %>