<div class="game clearLeft">     
  <%= "name: " + @game.name %>
  <br>
  <%= "platform: " + @game.platform %>
  <br>        
  <% no_spaces = @game.name.gsub(/ /,'_') %>  
  <% if current_user %>
    <%= link_to "add!", "#", :name => "add_" + no_spaces, :id => "add_"+no_spaces+"_button",  :class=> "show_hide_add" if !added %>
    <%= link_to "edit!", "#", :name => "add_" + no_spaces, :id => "add_"+no_spaces+"_button", :class => "show_hide_add" if added %>      
  <% end %>
</div>