<div style="clear:both;">
  <h6> 
  <br>
    *This can be stages, chapters, pokemon gyms, things you need to collect, etc.
      If you think about it, <br>most games have you passing a number of sorts of significant
      milestone in the game to denote your progress. <br>Whatever that milestone marker is,
      accumulate the total number of said denotations and enter that number here.
  </h6>
</div>