<%= javascript_include_tag "games/games.js" %>
<%= render :partial => "games/search_results" %>
<div class="clear">
  <br><br>
  Search again!
  <br>
  <% @load_page = true %>
  <%= render :partial => "shared/search"%>
</div>
<br>
<h4><%= link_to "Back to your list", :controller => "game_list" %></h4>