<%= render :partial => "games/javascript_include" %>
<h3>Search Results:</h3>
<div class="clear results_label">
  <%= label_tag :search_count, "Found #{@result_count} games. Showing #{@start_interval} - #{@end_interval}", :class => "results_label" %>  
</div>
<%= render :partial => "games/paginated_game_results" %>
<%= render :partial => "games/search_again" %>