<%= javascript_include_tag "games/add_game.js" %>
<%= render :partial => "shared/notice" %>

<h3> Add a game to the database!! </h3>
<%= render :partial => "add_game_db" %>
<%= render :partial => "note" %>