<%= render :partial => "games/javascript_include" %>
<%if current_user %>
  <%= render :partial => "add_game_db" %>
  <%= render :partial => "games/search_again" %>
<% else %>
  <h4><label class="red_text">That game wasn't found in our library, please login and add it! </label></h4>
  <% render :partial => "user_sessions/login" %>  
<% end %>
<br />
<br /><br />