<%= javascript_include_tag "gamer_ryoudan+helpers.js" %>
<%= render :partial => "shared/notice" %>
<% @game = Game.new %>
<%= render :partial => "games/add_game_db" %>
</div>
<div class=clear>  
</div>