<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
   <p> 
    An account has been created for you on the Gamer Ryoudan.
	                             
	  Your credentials are:
	
	  username:<%= @username %>
    
	  You can log into the Gamer Ryoudan here:
	  http://gamer-ryoudan.heroku.com
	 
    Thanks for registering for the Gamer Ryoudan! I hope you enjoy
    it every bit as much I enjoyed making it.
    
    Marseille
    System Administrator
   </p>        
  </body>
</html>
