<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
   <p> 
    A person by the username of, #{username} has registered an account

    Long live the revolution!
    
  http://gamer-ryoudan.heroku.com
   </p>        
  </body>
</html>
