<h1>Credit</h1>      
<h2>The Following technologies were used in production of the Gamer Ryoudan</h2>
<div class=credit>
  <p>Ruby &minus <a href='http://www.ruby-lang.org/en/'>http://www.ruby-lang.org/en/</a></p>
</div>  
<div class=credit>
  <p>Ruby on Rails &minus <a href='http://rubyonrails.org/'>http://rubyonrails.org</a></p>
</div>
<div class=credit>
  <p> Javascript & minus <a href='http://en.wikipedia.org/wiki/JavaScript'>http://en.wikipedia.org/wiki/JavaScript</a></p>
</div>
<div class=credit>
  <p> jQuery &minus <a href='http://jquery.com/'>http://jquery.com/</a></p>
</div>
<div class=credit>
  <p>Github &minus <a href='http://github.com/'>http://github.com/</a></p>
</div>
<div class=credit>
  <p> Heroku &minus <a href='http://heroku.com/'>http://heroku.com/</a></p>
</div>  
<div class=credit>
  <p>Authlogic &minus <a href='http://github.com/binarylogic/authlogic'>http://github.com/binarylogic/authlogic</a></p>
</div>
<div class=credit>
  <p>Searchlogic &minus <a href='http://github.com/binarylogic/searchlogic'>http://github.com/binarylogic/searchlogic</a></p>
</div>
<div class=credit>
  <p>RMagick &minus <a href='http://rmagick.rubyforge.org/'>http://rmagick.rubyforge.org/</a></p>
</div>
<div class=credit>
  <p>Quickselect &minus <a href='http://plugins.jquery.com/project/quickselect'>http://plugins.jquery.com/project/quickselect</a></p>
</div>
<div class=credit>
  <p>Distinctive CSS Template &minus Luka Cvrk (Solucija) <a href="http://www.solucija.com" title="Free CSS Templates">http://www.solucija.com</a></p>
</div>  