<body>	
  <div id="content">		
    <p id="top"><label class=tagline> An outlandish brigade of gamer-awesomeness </label></p>		    
    <%= render :partial => "header/home_top_search" %>
    <%= render :partial => "header/logo" %>    
    <%= render :partial => "header/menu" %>		    
    <%= render :partial => "header/spiky_thing" %>    
    <div class="line"></div><br />
