<li class="maroon li">    
  <p><%= link_to("My List", {:controller => "game_list", :action => "index", :user => user["login"]}, {:class => "white_link"}) %></p>
  Are you in the top percentage <br /> of Rattatas?
</li>  