<h3 class=red_list_header> Conquests </h3>
<table class="hor-minimalist-a">
  <thead>  
    <%= render :partial => "table_headers" %>  
  </thead>
  <tbody>
				<% if @completed.length > 0 %>
						<% @completed.each do |game|%>      
								<%= render :partial => "table_content", :locals => {:game => game} %>
						<% end %>
				<% end %>
  </tbody>
</table>
<br />