<% if current_user %>
  <td class=remove_row>    
    <a class=delete_game href="#" name=<%=game[0]["id"]%> title="remove this game from your list?">
      (x)
    </a>    
  </td> 
<% end %>
<div class=<%= "remove_#{game[0]['id']}" %>></div>  