<td class="list_row difficulty_row"> 
  <div id=<%=name_underscores+"_difficulty_div" %>>                      
    <%= link_to(game[1]["difficulty"], {}, {:selector_id => name_underscores, :class => "set_difficulty left_align red_text", :href=>"#"}) %>       
  </div>
</td>  