<h3 class=red_list_header> Centrum Contentus </h3>
<table class="hor-minimalist-a">
  <thead>
    <%= render :partial => "table_headers" %>
  </thead>
  <tbody>
    <% if @hiatus.length > 0 %>
      <% @hiatus.each do |game|%>
          <%= render :partial => "table_content", :locals => {:game => game} %>
      <% end %>
    <% end %>
  </tbody>
</table>
<br />