<% if flash["display_message"] %>
  <br />
  <label class=red_text>you need to specify a user if you're going to look at a list! <br /> ex:http://gamer-ryoudan.heroku.com/game_list/user_name</label>
<% end %>