<td class="list_row notes_row">    
  <div id= <%=name_underscores + "_notes_div" %>>    
    <%= link_to game[1]["notes"], {}, {:selector_id => name_underscores, :class => "set_notes red_text"} %>
  </div>
</td>  