<div id="notifications" class="attention">
  <br>
  These games are orphaned and don't have any status affiliated
            with them (campaign, conquest, circum contentus, contrived crusade)
  <br><br>
  <% @orphans.each do |game|%>
    <b>
      <%= game[0] %>
      <%= game[1] %>
    </b>
    <br>
  <% end %>
  <br>
  You should fix that!
</div>