<h3> Campaigns </h3>
<table id="user-game-list" class="left_align">
  <thead>
  <tr>
    <th> Game </th>
    <th> Platform </th>
  </tr>
  </thead>
  <tbody>
    <% @currently_playing.each do |game|%>
      <tr>
        <td> <%= game[0] %> </td>
        <td> <%= game[1]%> </td>      
        <td> <%= link_to "(x)", :controller => "users", :action => "remove_game_from_list", :name => game[0] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>