<h3> Contrived Crusades </h3>
<table id="user-game-list" class="left_align">
  <thead>
  <%= render :partial => "table_headers" %>
  </thead>
  <tbody>
    <% @planned_games.each do |game|%>
      <%= render :partial => "table_content", :locals => {:game => game} %>
    <% end %>
  </tbody>
</table>
<br>