<h3 class=red_list_header> Contrived Crusades </h3>
<table class="hor-minimalist-a">
  <thead>
    <%= render :partial => "table_headers" %>
  </thead>
  <tbody>
    <% @planned_games.each do |game|%>
      <%= render :partial => "table_content", :locals => {:game => game} %>
    <% end %>
  </tbody>
</table>
<br>