<tr>
  <th class="list_header game_header"> <a href="#">Game</a> </th>
  <th class="list_header platform_header"> <a href="#">Platform</a> </th>
  <th class="list_header difficulty_header"> <a href="#">Difficulty</a> </th>  
  <th class="list_header hours_played_header"> <a href="#">Hours Played</a> </th>   
  <th class="list_header notes_header"> <a href="#">Notes</a></th>
  <th class=list_header></th>
</tr>