<h1> About muh site </h1><br />
<a href="/site_facts"> Little known site facts </a><br />
<br />
<div id="about_site">
<p>
  The gamer ryoudan started out with nothing more than inspiration for what 
  should be an easy, intuitive and fun experience for game records. Video games
  have always been fun, meaningful (many would argue this point) expenditures of time.
  It's always fun to reminisce about the games you've played and completed
  denizens of times. Sometimes though, it can be hard to remember every game you've ever played.
</p>
<p>
  Thats where the gamer ryoudan excels, it provides a comprehensive record of all the games
  you are playing, have played, and plan to play in the future. It is really cool to be able to look at 
  a list and remark on all the different games you have played, and even be able to score
  them too! Rank your favorites and compare your lists with other members! Not only is it fun and nostalgic,
  but it can provide a level of competition between you and your friends. See who can complete games fastest or 
  complete the most number of games! 
</p>
<p>
  The gamer ryoudan is also a nice tool for keeping up to date with things you wouldn't necessarily
  remember that easily. Leave notes, or come back to check the status of that game you don't play that
  often. I know when I play games, I'll take breaks for months on end before returning to it and at that 
  point I'm left with no contextual knowledge and the very commonly adopted WTF is going on here.
</p>
<p>
  Lastly, I wish it to become a community driven tool, and a community experience. In this manner,
  members can add games that don't exist yet to the database. From this, the knowledge base
  can grow into a living entity. Updated as it needs to be by the supporters that use it. A certain social
  aspect should come to light as well within the gamer ryoudan's community. In providing this I believe 
  we can all benefit from the advantages we have to offer each other.
</p>
</div>
<br />
<div id="about_author">
<h1> About the author </h1>
<br />
<p>
  My name is Henryk Tunguz-Zawislak, I have a passion for making things simple and easy
  to use. The world should be simple, because simple problems are easy to solve. More than
  that, in a simple world all the factors are known so problems don't exist. 
</p>
<p>
  I like spending my free time playing video games, watching anime, tooling around on the 'net and dedicating
  various amounts of effort to random development projects I get inspired by. This was a not so random
  project in that I had had the idea for a little while. It wasn't until I realized how fast I could possibly
  get a presentable prototype that I started development on the gamer ryoudan.
</p>
<p>
  I'm 23 years old and I currently attend the Rochester Institute of Technology. 
  I am pursuing a bachelors of science in Software Engineering. Naturally my interest for designing
  things and problem solving spurred me on to discover the field of Software Engineering.
</p>
<p>
  At the foremost, I hope the gamer ryoudan is useful to people and people find enjoyment and utility 
  out of it. I designed it with the user experience in mind, so please any criticism would be really helpful!    
 </p> 
 <p>
  Thanks for visiting =D !!!
</p>
</div>
<br />