<h1> Contact </h1>
<br />
<div class=contact_desc>
<p>
  Please use any of the following methods to get in touch with me, should there
  be any problems with the site. I am very eager to support so let me know if you
  have any concerns, complaints, or problems with the site. Even if it is really small
  and seemingly insignificant!
</p>
</div>
<li class=lioption>
  Email: Muradin007@gmail.com
</li>
<li class=lioption>
  IM: Muradin006
</li>
<li class=lioption>
  MSN:Muradin007@live.com
</li>
<br /><br />
  