<%= render :partial => "shared/notice" %>

<h1> Contact </h1>
<br />
<div class=contact_desc>
<p>
  Please use any of the following methods to get in touch with me, should there
  be any problems with the site. I am very eager to support so let me know if you
  have any concerns, complaints, or problems with the site. Even if it is really small
  and seemingly insignificant!
</p>
</div>
<li class=lioption>
  Email: gamer.ryoudan@gmail.com
</li>
<li class=lioption>
  IM: gamerryoudan
</li>
<li class=lioption>
  MSN:gamer-ryoudan@live.com
</li>
<%= render :partial => "contact/feedback" %>