/*
	=====================================
	project: Distinctive
	author:  Luka Cvrk (www.solucija.com)
	-------------------------------------
	2009. Solucija
	=====================================
*/

body { 
	font: .8em Arial, Tahoma, Verdana;
	/*font-family:"Lucida Grande", arial, sans-serif;*/
	/*background: #fff url(../images/m.gif) repeat-x;*/
	color: #777; 
}

.ul{
    margin:0;
    padding:0;	
	list-style:none;
	width:500px;
}

.li{
    width:100px;
    height:25px;		
	margin-left:0px;
    color: #FFFFFF;
    text-align:center;
    overflow:hidden;
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
}

a { 
	text-decoration: none;
	color: #B20F0F; 
}

h1 { 
	font-size: 1.7em;
	font-weight: bold; 
	color: #B20F0F;
}

h1 a { 
	color: #fff; 
	font-size: 1.8em; 
}

h2 { 
	font-size: 1.6em; 
}

h3 { 
	padding-top:20px;
	padding-right:20px; 
	font-size: 1.2em; 
	background: #B00A0A url(../images/redbg.gif) repeat-x left bottom;
	padding: 6px 7px; 
	color: #fff; 
	font-weight: normal; 
	margin: 5px 0 15px 0; 
	}

h4 { 
	margin: 0 0 10px;
	color: #555;
	font-weight: normal;
	font-size: 1.2em;
	font-weight: normal;
}

p { 
	clear: both;
	line-height: 1.64em;
	margin: 0 0 15px;
}

th {
	text-align: left;
	padding-bottom:7px;
	padding-right:7px;
}

td {
	padding-right: 7px;
}

.main {
	margin-left:5px;
}

#content { 
	width: 970px;
	margin: 0 auto;
}

#top {
	color: #ccc;
	padding: 6px 20px 0;
	font-size: .84em;
	text-align: right; 
}

#logo { 
	float: left;
	background: url(../images/redbg.gif) repeat-x;
	padding: 100px 25px 15px;
	margin: -46px 0 20px; 
}

#logo h1 { 
	text-shadow: 1px 1px 1px #7E0E0E; 
}

#menu { 
	float: right;
	margin: 63px 20px 0; 
}

#menu li { 
	display: inline;
	font-size: 1.3em; 
}	

#menu li a { 
	float: left; 
	color: #808080;
	padding: 0 0 5px;
	margin: 0 0 0 55px; 
}

#menu li a:hover, #menu li.current a, #menu li a:focus { color: #000; border-bottom: 1px solid #ddd; }

#pitch {
	background: url(../images/monitor.gif) no-repeat right top;
	padding: 30px 350px 0 0;
	border-bottom: 1px solid #ddd;
	height: 210px;
	margin: 0 0 35px; 
}

#pitch h1 { 
	font-size: 2.6em;
	color: #000;
	margin: 0 0 20px; 
}

#pitch h2 {
	line-height: 1.5em; 
}

/*Menu Color Classes*/
.green{background:#990000;}
.yellow{background:#CC0000;}
.red{background:#CC6600;}
.blue{background:#FF0000;}
.purple{background:#FF6600;}

.attention {
	margin: 0 0 10px;
	font-weight: normal;
	font-size: 1.2em;
	color: red;
	clear: both;
}

.add_game {
	padding-top:10px;
	display:none
}

.clear { 
	clear: both; 
}

.clearLeft {
	float:left;
	clear:both;
}

.hide {
	display:none;
}

.last {
	margin-right: 0;
}


.left_align {	
	padding-right: 40px;
}

.level_align {
	text-align:left;
	padding-right:10px;
}

.left { 
	float: left; 
	padding-right: 10px;
}	

.add_game_partial {
	display:none;
	margin-top: 0px;
	margin-left: 150px;	
	overflow:auto;
}

.image_icon {
	margin-left:3px;
	vertical-align:text-top;
	padding-right:10px;
}

.add_game_db_label {
	padding:20px;
	margin-bottom:10px;
}

.leftScroll {	
	display:none;
	margin-top: 0px;
	margin-left: 300px;	
	overflow:auto;
}

.leftInline {
	float:left;
	display:inline;
}
.leftBorder {
	float:left;	
	padding-left: 10px;	
	border-left: 1px solid #ddd;	
}

.line { 
	clear: both;
	border-bottom: 1px solid #ddd; margin: 0 0 45px; 
}

.right {
	float: right;
	margin: 0 0 20px;
}

.leftFloat {
	float:left;
	padding-left: 9px;	
}

.menu {
	float:left;
	margin-left:5px;
}

.rightFloat {
	float: right;
	padding-left: 10px;
}

.right h3 { 
	background: #808080;
	font-size: .84em; 
}

.search_results {
	float:left;
	padding-left:30px;
}

.submit {
	margin-left:-5px;
}

.tagline {
	display:block;
	font-size: 90%;  
	font-weight: bold;
	padding-bottom:10px;
	margin-left:5px;
}

.title_bar {
	float:right;
	padding-top: 10px;
	text-align:right;
	padding-bottom: 10px;
}

.third { 
	float: left;
	width: 296px;
	margin: 0 40px 20px 0;
}

.white_link {
	color: #FFFFFF;
}

#footer { 
	clear: both; 
	font-size: .84em; 
	border-top: 1px solid #ddd; 
	padding: 20px 0 0; 
}

.quickselect_results {
	padding: 0px;
	border: 1px solid WindowFrame;
	background-color: Window;
	overflow: hidden;
}

.quickselect_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.quickselect_results iframe {
	display:none;/*sorry for IE5*/
	display/**/:block;/*sorry for IE5*/
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	filter:mask();
	width:3000px;
	height:3000px;
}

.quickselect_results li {
	text-align:left;
	margin: 0px;
	padding: 2px 5px;
	cursor: pointer;
	color:red;	
	display: block;
	width: 100%;
	font: menu;
	font-size: 12px;
	overflow: hidden;
}

.quickselect_loading {
	background : Window url('/rails.png') right center no-repeat;
}

.quickselect_selected {
	/*background-color: Highlight;
	color: HighlightText;*/
	background-color:yellow;
}

.guidance {
	margin-left:5px;
	color:#980000;
	font-weight:bold;
}

.option {
	margin-left:10px;
}

.lioption {
	margin-left:25px;