/*
	=====================================
	project: Distinctive
	author:  Luka Cvrk (www.solucija.com)
	-------------------------------------
	2009. Solucija
	=====================================
*/

body { 
	font: .8em Arial, Tahoma, Verdana;
	//background: #fff url(../images/m.gif) repeat-x;
	color: #777; 
}

a { 
	text-decoration: none;
	color: #B20F0F; 
}

h1 { 
	font-size: 1.7em;
	font-weight: bold; 
	color: #B20F0F;
}

h1 a { 
	color: #fff; 
	font-size: 1.8em; 
}

h2 { 
	font-size: 1.6em; 
}

h3 { 
	padding-top:20px;
	padding-right:20px; 
	font-size: 1.2em; 
	background: #B00A0A url(../images/redbg.gif) repeat-x left bottom;
	padding: 6px 7px; 
	color: #fff; 
	font-weight: normal; 
	margin: 5px 0 15px 0; 
	}

h4 { 
	margin: 0 0 10px;
	color: #555;
	font-weight: normal;
	font-size: 1.2em;
	font-weight: normal;
}

p { 
	clear: both;
	line-height: 1.64em;
	margin: 0 0 15px;
}

th {
	text-align: left;
	padding-bottom:7px;
}

td {
	padding-right: 7px;
}

.left_align {
	text-align: left;
	padding-right: 7px;
}

.line { 
	clear: both;
	border-bottom: 1px solid #ddd; margin: 0 0 45px; 
}

.clear { clear: both; }

#content { 
	width: 970px;
	margin: 0 auto;
}

#top {
	color: #ccc;
	padding: 6px 20px 0;
	font-size: .84em;
	text-align: right; 
}

#logo { 
	float: left;
	background: url(../images/redbg.gif) repeat-x;
	padding: 100px 25px 15px;
	margin: -46px 0 20px; 
}

#logo h1 { 
	text-shadow: 1px 1px 1px #7E0E0E; 
}

#menu { 
	float: right;
	margin: 63px 20px 0; 
}

#menu li { 
	display: inline;
	font-size: 1.3em; 
}	

#menu li a { 
	float: left; 
	color: #808080;
	padding: 0 0 5px;
	margin: 0 0 0 55px; 
}

#menu li a:hover, #menu li.current a, #menu li a:focus { color: #000; border-bottom: 1px solid #ddd; }

#pitch {
	background: url(../images/monitor.gif) no-repeat right top;
	padding: 30px 350px 0 0;
	border-bottom: 1px solid #ddd;
	height: 210px;
	margin: 0 0 35px; 
}

#pitch h1 { 
	font-size: 2.6em;
	color: #000;
	margin: 0 0 20px; 
}

#pitch h2 {
	line-height: 1.5em; 
}

.attention {
	margin: 0 0 10px;
	font-weight: normal;
	font-size: 1.2em;
	color: red;
	clear: both;
}

.add_game {
	padding-top:10px;
	display:none
}

.hide {
	display:none;
}

.last {
	margin-right: 0;
}

.left { 
	float: left; 
	width: 250px; 
}	

.right {
	float: right;
	width: 630px;
	margin: 0 0 20px;
}

.right h3 { 
	background: #808080;
	font-size: .84em; 
}

.title_bar {
	float:right;
	padding-top: 10px;
	text-align:right;
	padding-bottom: 10px;
}

.third { 
	float: left;
	width: 296px;
	margin: 0 40px 20px 0;
}

#footer { 
	clear: both; 
	font-size: .84em; 
	border-top: 1px solid #ddd; 
	padding: 20px 0 0; 
}