<div class="left">
  <h4>Join the Awesome</h4>
  <p><em>Be apart of the Gamer Ryoudan and get your list now! The library is intended to have every game for every platform; it is the be-all end-all
                   solution to finding information and tracking games. You'll be able to find games from Odyssey, Atari, NES, Sega Genesis, SNES,
                   playstation,Sega Saturn, N64, Dreamcast, PS2, Xbox, Xbox 360, Wii, and PS3 just to name a few. </em></p>
</div>