<div id="pitch">    
  <%= render :partial => "user_sessions/login" %>
  <h1>Easy and intuitive game tracking</h1>			
  <h2>The Gamer Ryoudan is a comprehensive video game tracker. It remembers everything so you don't have to!<br /><br />
    You can track:
  </h2>
  <li class="li_home"><label class="option red_home"><b>The status of your game</b></label></li>
  <li class="li_home"><label class="option red_home"><b>How many total hours you've played</b></label></li>
  <li class="li_home"><label class="option red_home"><b>Game and platform percent completion</b></label></li><br />
</div>	