<div class="clear"></div>
<div class="bull line_second_desc">
<div class="third">
  <h3>Status</h3>
  <p>Track your games using the following four states!
    <li class="inner first">Campaigns</li>
    <li class="inner">Conquests</li> <label class=right_simple>(on hold)</label>
    <li class="inner">Centrum Contentus</li><label class=right_simple>(plan to play)</label>
    <li class="inner">Contrived Crusades</li>
  </p>
</div>    
<div class="third">
  <h3>Social Competition</h3>
  <p> 
    The Gamer Ryoudan is also designed to be a social experience. Develop your sweet list,
    then visit your friend's lists or profiles and compare them to yours! Who has the 
    better list or has played more games? After all, it's not fun if you can't show off how
    awesome you are.
  </p>
</div>
<div class="third last">
  <h3>Community Driven</h3>
  <p> 
    Everyone has the power to add games to the database's knowledge base. Not only does
    this drive social interaction and improvement; it means the library can be updated fast. Users 
    can add games the day they came out or are announced. So come on in and help us out!
  </p>
</div>
</div>