<div class=register_now>
  <%= link_to("register now" , {:controller => "users", :action => "new"}, {:class =>"register_link"}) %>    
  <%= label_tag :register_label, "Don't have an account?" , :class => "register_label" %>                    
</div>