<%= render :partial => "user_sessions/main_description" %>
<%= render :partial => "user_sessions/more_description" %>
<div class=third_line></div>
<%= render :partial => "user_sessions/lower_left_pitch" %>
<%= render :partial => "recent_changes/latest_changes" %>		